
*{ 
  padding: 0;
  margin: 0;

}

header {
  height: 10vh;
  background-color: blue;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between;
  
}
nav{
margin: 2vh;
width: 30%;
}

ul {
  color: aqua;
  list-style: none;
  display: flex ;
  justify-content: space-around;
}


Button {
  background-color: brown;

}



.card { 
  font: 10px;
margin: 2rem;
  height: 50vh;
  width: 20%;
  background-color:rgb(238, 231, 231);
 display: inline-flex;
}

.carousal {


}